.pageWrapperDesktop {
  display: flex;
  min-height: 100vh;
}

/* SideBar */
.pageWrapperDesktop > :first-child {
  width: 180px; /* Fixed sidebar width */
  background-color: var(--bg-primary);
  position: sticky;
  top: 0;
  height: 100vh;
}

/* Outlet content */
.pageWrapperDesktop > :nth-child(2) {
  flex: 1;
  padding: 1rem;
}

.pageWrapperMobile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-secondary);
}

.pageWrapperMobile > *:first-child {
  padding: 1rem 1rem 1rem;
}

.mainContent {
  background: var(--bg-secondary);
}
