.navBarMobileWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: var(--bg-primary);
  border-top: 2px solid var(--color-orange);
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

.navBarLink {
  font-weight: 500;
  font-size: 1.2em;
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s ease-out;
}

.navBarLink:hover {
  color: var(--color-orange);
  transform: scale(1.05);
}

.active {
  color: var(--color-orange);
}
