.sidebarWrapper {
  background-color: var(--color-lightgray);
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px;
  gap: 80px;
  padding-left: 20px;
  border-right: 1px solid var(--color-navy);
}

.sidebarBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sidebarLink {
  font-weight: 500;
  font-size: 1.2em;
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-out;
}
.sidebarLink:hover {
  color: var(--color-orange);
  text-decoration: none;
  transform: scale(1.05);
}

.wrapperLogo {
  width: 100%;
}

.wrapperLogo img {
  width: 90%;
}
